@charset "utf-8";
/* CSS Document */
@media (min-width: 576px) {
    .container{max-width: 640px;}
    .container-wrapper{max-width: 1140px;margin: 0 auto;}
}
@media (min-width: 768px) {
    .container{max-width: 850px;}
    .container-wrapper{max-width: 1140px;margin: 0 auto;}
}
@media (min-width: 992px) {
    .container{max-width: 1050px;}
    .container-wrapper{max-width: 1140px;margin: 0 auto;}
}
@media (min-width: 1200px) {
    .container{max-width: 1270px;}
    .container-wrapper{max-width: 1140px;margin: 0 auto;}
   }
@media (min-width: 1400px) {
    .container{max-width: 1400px;}
    .container-wrapper{max-width: 1320px;margin: 0 auto;}
}
@media (min-width: 1660px) {
    .container{max-width: 1560px;}
    .container-wrapper{max-width: 1320px;margin: 0 auto;}
    }
@media (min-width: 1800px) {
    .container{max-width: 1660px;}
    .container-wrapper{max-width: 1320px;margin: 0 auto;}
   }
 @media (min-width: 1920px) {
    .container{max-width: 1800px;}
    .container-wrapper{max-width: 1320px;margin: 0 auto;}
 }

@media (max-width: 1660px) {
.highligtContentSec {background-position: 112% 50%;}
.highligtContentSec .highligtContent .block-title {font-size: 26px;line-height: 34px;}
.law-left h1 {font-size: 40px;line-height: 52px; }
.law-left h2 {font-size: 40px;line-height: 52px; }
.contact-sec .contact-inner { padding: 0 100px;}


}
@media (max-width: 1370px) {
body{font-size: 16px;line-height: 28px;}
.scrollTopbtn{width: 60px; height: 60px; line-height: 55px;}
.header .navbar .navbar-brand {}
.header .navbar .navbar-nav li:not(:last-child) {margin-right: 15px;}
.header .navbar .navbar-nav li.nav-about-item {margin-right: 0px;}
.header .navbar .navbar-nav li .nav-link {}
.sub-menu > li > a {font-size: 14px;line-height: 18px;}
.highligtContentSec .highligtContent .block-title {font-size: 24px;line-height: 32px;}
.footerNewsletterBtnArea .subscribe-btn {font-size: 16px;}
.footerLogo img{max-width:100px;}
.law-left h2 {font-size: 36px;line-height: 48px; }
.fact-sec .fact-left p{font-size: 18px;line-height: 26px;font-weight: 400;}
.resoueces-listing-banner-sec .resources-right:before{background-size: contain;}
.resoueces-listing-banner-sec .resources-right:after{background-size: contain;}
.resources-blog-box-inner p { font-size: 16px;line-height: 28px;}
.contact-sec .contact-inner { padding: 0 40px;}
.vectra-join-us-wrapper p {width: 70%; }


}
@media (max-width: 1299px) {}
@media (max-width: 1199px) {
body{font-size: 14px;line-height:20px;}
.header .navbar .navbar-brand {max-width: 140px;margin-left: 10px;}
.header .navbar .rightSide .custome-btn {padding: 7px 20px;font-size: 16px;line-height: 24px;font-weight: 400;}	
.navbar-collapse-topBar{display:block;padding:5px 15px;background-color: rgba(34, 123, 44, 1);color: #fff;}
.navbar-collapse-topBar p {font-size: 11px;line-height: 17px;}
.navbar-collapse-top{display:block;padding:5px 15px;}
.navbar-collapse-brand img{max-width:130px;}
.singleCourseEnquiryArea .form-control {font-size: 14px;}
.singleCourseEnquiryArea .form-select {font-size: 14px;}		
.menu_overlay {display: none;content: '';position: fixed;top: 0;left: 0;background: rgba(0,0,0,0.6);width: 100%;height: 100%;display: none;z-index: 2;}
.menu_overlay.menu-visible {display: block;}
.navbar-toggler {color: #000;padding: 0px;border: 0;font-size: 20px; box-shadow: none !important;margin-left: 0px;}	
.navbar-collapse {background: #fff;position: fixed;top: 0;left: 0;width: 260px;display: none;height: 100% !important; max-height: 100% !important;overflow: hidden;overflow-x: scroll;display: block !important;transform: translateX(-260px);opacity: 0;visibility: hidden;padding: 0px 0 20px;transition: all 300ms ease;-o-transition: all 300ms ease;-ms-transition: all 300ms ease;-moz-transition: all 300ms ease;-webkit-transition: all 300ms ease;z-index: 3;}	
.navbar-collapse.menu-visible {        overflow: auto;transform: translateX(0px);transition: all 300ms ease;-o-transition: all 300ms ease;-ms-transition: all 300ms ease;-moz-transition: all 300ms ease;-webkit-transition: all 300ms ease;opacity: 1;visibility: visible;}
.navigationArea .navigationAreainner .navbar .navbar-nav {padding-top: 10px;display: block;}	
.header .navbar .navbar-nav .nav-item:not(:last-child) {margin-right: 0px;}
.header .navbar .navbar-nav li .nav-link {padding: 4px 15px;font-size: 16px;}
.dropdown_menu:after{}
.header .navbar .navbar-nav .nav-button {font-size: 14px;margin-left: 10px;margin-top: 10px;padding: 6px 23px;}	
.sub-menu {margin-top:0px;display: none !important;position: relative;border: none;box-shadow: none;transform: translate(0%, 0px);left: 0;width: 100%;border-radius: 0px;background-color: rgba(230, 245, 228, 1);padding-left: 15px;}
.header .navbar .navbar-nav li:hover .sub-menu {opacity: 1;visibility: visible;-webkit-transform: translate(0%, 0px);-moz-transform: translate(0%, 0px);-ms-transform: translate(0%, 0px);-o-transform: translate(0%, 0px);transform: translate(0%, 0px);}
.curent .sub-menu {visibility: visible;opacity: 1;position: relative;transform: translateY(0em);z-index: 1;transition: none;display: block !important;min-width: 100%;left: 0;transform: translate(0%, 0px);padding: 0px 25px 0px;}
.dropdown_menu:after {top: 5px;right: 10px;}
.sub-menu > li {border-bottom: 0;}
.sub-menu > li > a {position:relative;display: block;padding: 15px 0px;font-size: 14px;line-height: 20px;padding-right: 0px; border-bottom: 1px solid #ddd;}
.sub-menu > li > a:after{display: block !important;content: '';background-image: url(../images/icon/right-arrow.svg);background-repeat: no-repeat; background-size: contain; width: 25px;height: 25px;position: absolute;top: 50%; right: 0;transform: translate(0, -50%);}
.sub-menu > li:last-child > a {border-bottom:0;}
.owl-nav button {width: 40px;height: 40px;}	
.header .navbar .rightSide {display: flex; margin-left: auto;}
.navigationArea .navigationAreainner .navbar .navbar-nav {padding-top: 0px;display: block;}
.header .navbar .navbar-nav .dropdown_menu .nav-link:after {content: '\f067';margin-left: 5px;font-family: "Font Awesome 6 Pro";font-size: 20px;position: absolute;right: 20px;}
.header .navbar .navbar-nav li .nav-link {padding: 15px 25px;font-size: 16px;}
.header .navbar .navbar-nav .dropdown_menu.curent .nav-link {background-color:rgba(34, 123, 44, 1);color:#fff;}
.header .navbar .navbar-nav .dropdown_menu.curent .nav-link:after { content: '\f068';}
.header .navbar .navbar-nav li:not(:last-child){margin-right:0px;}
.header .navbar .navbar-nav .nav-item.nav-search-item {display: none;}	
.header .navbar .navbar-nav .nav-item.nav-contact-item{padding-left: 25px;}
.header .navbar .navbar-nav .nav-item.nav-contact-item .nav-link.nav-contact-link {padding: 8px 25px;}
.navbar-collapse-region{display:block;padding:20px 25px 0px;}
.navbar-collapse-region .footerRegionBox{margin-right: 0px;margin-bottom:20px;}
.navbar-collapse-region .footerSocialLinksArea{display:none;}
.navbar-collapse-bottom{display:block;}
.navbar-collapse {top: 0;width: 100%;}	
.meet-right-slider-box {width: 100%;}
.meet-left .nav-link {font-size: 13px;}
.resources-input-sec{flex-wrap: wrap;justify-content: start;}
.resources-input-box{width: 100%;margin-bottom: 30px;}
.sort {margin-left: 0px;}
.navigationAreainner .footerRegionBox{display: none;}
.navigationAreainner .footerSocialLinksArea{display: none;}
.navigationAreainner .copyWriteArea{display: none;}
.navigationAreainner .navbar-collapse .footerRegionBox{display: inline-flex;}
.navigationAreainner .navbar-collapse .copyWriteArea{display: block;padding: 100px 0 0;}
.contact-sec .contact-inner { padding: 0 0px;}

}
@media (max-width: 991px) {
.footer_bottomRightArea {justify-content: start;margin-top: 15px;}
p br, .block-title br, .homePageBannerContent h1 br, .homePageBannerOfferLink .txt br{display:none;}
.service-top-inner h3 {padding: 0 114px;}	
.service-top-inner p {padding: 0 65px;}
.why-choose-list-box{justify-content: start;}
.register-right {margin-top: 50px;}
.resources-right{margin-top: 50px;}
.resources-left.error {padding: 0;}
.law-right {margin-top: 50px;}
.resources-left h3 {font-size: 27px;}
.career-right{ width: 86%;margin: 0 auto;}
.join-us-box {margin-bottom: 30px;}
.mission-box {margin-bottom: 30px;height: auto;}
.values-row {flex-wrap: wrap;}
.value-box {width: 100%;align-items: center;text-align: left;flex-direction: row;margin-bottom: 50px;}
.value-box:nth-child(even) {flex-direction: row-reverse;justify-content: flex-end;}
.border {display: none;}
.left-border::before{height: 130px;top: 0;left: 26px;transform: rotate(0);}
.right-border::before{height: 130px;top: 0;left: 26px;transform: rotate(0);}
.value-cont{margin-left: 30px;}
.value-sec {padding: 0;}
.world-map-left {margin-top: 0;margin-bottom: 30px;}
.phone {display: block;padding: 0;}
.ddepartment-sec{display: none;}
.tech-television-box .getInTouchFormArea {max-width: 100%;}
.tech-executive-inner .custome-btn {display: none;}
.search-details-tab .nav-tabs{white-space: nowrap;overflow-x: auto;flex-wrap: inherit;}
.search-details-tab .nav-tabs::-webkit-scrollbar {	width:0px; }
.search-details-tab .nav-item {padding-right: 25px;padding-top: 5px;padding-bottom: 1px;}
.search-input span {top:16px}
.search-tab-details-left p {display: none;}
.search-tab-details h4 {margin: 13px 0;font-size: 15px;}
.search-pagination-sec {justify-content: start;}
.search-details-header-inner {width: 100%;}
.search-bottom-inner {width: 100%;}
.law-right img {height: 500px;object-fit: contain;}
.inside-right .getInTouchFormArea {margin: 0 auto;}
.fact-left {margin-bottom: 30px;}
.vctr-inner {width: 100%;}
.resources-input-sec .copyWriteArea{display: none;}
.resources-right {display: none;}
.errorPageBannerSec .resources-right {display: block;}
}
@media (max-width: 768px) {
.first_blk {-ms-flex-order: -1;order: -1;}
.last_blk {-ms-flex-order: 13;order: 13;}
.career-banner-sec .career-right { position: relative;  padding: 0 0px;}
.career-banner-sec .career-right:before { top: -20%; left: -25%;  height: 100%;  width: 100%; background-repeat: no-repeat;  background-size: contain; background-position: 50% 50%;}
.career-banner-sec .career-right:after { top: -20%; right: -20%;  height: 100%;  width: 100%; background-repeat: no-repeat;  background-size: contain;  background-position: 50% 50%;}
}
@media (max-width: 767px) {
.owl-nav button.owl-prev {left: 0;}
.owl-nav button.owl-next {right: 0;}
.homeAboutCounterBoxinner h2.number {font-size: 32px;line-height: 44px;}
.homeAboutCounterBoxinner p.text {font-size: 14px;line-height: 18px;}	
.service-top-inner h3 {padding: 0 22px}
.service-top-inner p {padding: 0 0;}
.service-left h4 {font-size: 14px;}
.footer_bottomRightArea { margin-top: 0px;}
.blog-details-banner-sec .law-left{padding-right: 0px;}
.blogDetailsVideoArea iframe { height: 190px; width: 100%; max-width: 340px;}
}
@media (max-width: 600px) {}
@media (max-width: 575px) {	
.header .headerTopBar {padding: 5px 0;}
.header .headerTopBarinner p{font-size: 11px;line-height: 17px;}
.header .navigationArea {box-shadow: 0 2px 15px rgba(0, 0, 0, .2);}
.menu_overlay{display:none;}
.menu_overlay.menu-visible {display: none;}
.navbar-collapse {top: 0;width:100%;}
.custome-btn {padding: 12px 24px;border-radius: 10px;font-size: 14px;line-height: 20px;font-weight: 400;}
.block-title {font-size: 20px;line-height: 28px;}
.headingSec {margin-bottom: 25px;}	
.headingSec .secTitle {font-size: 30px;line-height: 40px;}	
.header .navbar {padding: 0px;}
.header .navbar .rightSide .nav-button {padding: 6px 20px;font-size: 12px;}	
.header .navbar .navbar-brand {max-width: 130px;}
.header .navbar .rightSide {padding-left: 5px;}
.header .navbar .rightSide .custome-btn {padding: 7px 20px;font-size: 14px;line-height: 20px;font-weight: 400;}
.homePageBanner {background-image: url(../images/bg/home-banner-movile.svg/index.html);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;position:relative;}
.homePageBannerSecinner {position:relative;padding: 50px 0 30px;}
.homePageBannerContent h1 {text-align:center;font-size: 24px;line-height: 32px;font-weight: 400;}
.homePageBannerContent p {text-align:center;font-size: 14px;line-height: 20px;}
.homePageBannerOfferArea h4 {font-size: 14px;line-height: 20px; margin-bottom: 15px;text-align: center;}
.homePageBannerOfferArea .rowBox{margin-left: -5px;margin-right: -5px;}
.homePageBannerOfferArea .columnBox{padding-left:5px; padding-right:5px;}
.homePageBannerOfferArea .columnBox:nth-child(1){-ms-flex-order: 1; order: 1;}
.homePageBannerOfferArea .columnBox:nth-child(2){-ms-flex-order: 2; order: 2;}
.homePageBannerOfferArea .columnBox:nth-child(3){-ms-flex-order: 4; order: 4;}
.homePageBannerOfferArea .columnBox:nth-child(4){-ms-flex-order: 6; order: 6;}
.homePageBannerOfferArea .columnBox:nth-child(5){-ms-flex-order: 3; order: 3;}
.homePageBannerOfferArea .columnBox:nth-child(6){-ms-flex-order: 5; order: 5;}
.homePageBannerOfferList .homePageBannerOfferListItem{margin-bottom: 10px;}
.homePageBannerOfferLink{padding: 10px 10px;height: 100%;}
.homePageBannerOfferLink .txt {-webkit-box-flex: 1; -ms-flex: 1;flex: 1;font-size: 12px;line-height: 20px;font-weight:700;}
.homePageBannerOfferLink .icon img{width: 24px;}
.homeAboutCounterBoxinner h2.number {font-size: 24px;line-height: 32px;}
.homeAboutCounterBoxinner p.text {font-size: 10px;line-height: 14px;}	
.homeAboutArea .rowBox{margin-left:-10px;margin-right:-10px;}
.homeAboutArea .columnBox{padding-left:10px;padding-right:10px;margin-bottom:20px;}
.solutionListIteminner{padding: 12px 16px;box-shadow: 0 2px 15px 0 rgb(0, 0, 0, 0.2);border: 1px solid rgba(34, 123, 44, 1);}
.solutionListIteminner .icon {height: 32px;width: 32px;}
.solutionListIteminner .txt {font-size: 12px;line-height: 20px;font-weight:700;}
.homeAboutCounterBoxinner p.text br{display:block;}
.highligtContentSec {background-image: url() !important;padding:0 0 40px;}
.highligtContent{padding:40px 0 40px;text-align: center;}
.highligtContentThumb {display: block;overflow:hidden;border-radius:16px;box-shadow: 0 2px 15px 0 rgb(0, 0, 0, 0.2);}
.highligtContentSec .highligtContent .block-title {font-size: 20px;line-height: 28px;}
.testimonialBoxinner {padding: 24px 16px;}
.testimonialBtmArea .rightPart span img{width:64px;}
.testimonialBoxinner .userInfo .userThumb {width: 32px;height: 32px;}
.testimonialBoxinner .userInfo .content h4 {font-size: 14px;line-height: 20px;}
.getInTouchArea {max-width: 380px;}
.getInTouchFormArea {max-width: 320px; margin: 0 auto;padding: 16px 16px;}
.getInTouchFormArea .form-group .form-control {font-size: 14px;line-height: 20px;}
.getInTouchFormArea .form-group .input-group .input-group-text .form-select{font-size: 14px;line-height: 20px;}
.getInTouchFormArea .form-group .form-check .form-check-input {margin-right: 0px;}	
.trustedHeadingSec .title {font-size: 14px;line-height: 20px;}
.trustedSliderItem {height: 52px;}
.homeAboutSec{padding:40px 0 10px;}
.homeAboutVideoArea {width: 100%;max-width: 334px;min-height: 190px;margin: 0 auto 25px;}
.homeAboutCounterArea{text-align:center;padding:30px 0 0;}
.homeAboutCounterBoxinner {text-align:left;}
.homeAboutCounterField .rowBox2{margin-left:-5px;margin-right:-5px;}
.homeAboutCounterField .columnBox2{padding-left:5px;padding-right:5px;}
.homeAboutCounterBoxinner h2.number {margin-right: 5px;}
.testimonialSec{padding:40px 0;}
.getInTouchSec {padding: 60px 0 60px;}
.homeSubscribeSec{padding:40px 0;}
.homeSubscribeContent .block-title {font-size: 18px;line-height: 24px;}
.homeAboutVideoCounterArea{padding:0px;margin-top: -30px;}
.homeAboutContent{text-align:center;}	
.homeAboutContent .block-title br{display: block;}
.footerLogo img {max-width: max-content;}
.footerContactArea ul li {font-size: 18px;line-height: 24px;}
.footerNewsletterBtnArea .subscribe-btn {font-size: 14px;line-height: 20px;padding: 12px 10px;width: 100%; max-width: 384px;height: 51px;justify-content: center;}
.footer_bottomRightArea {display: block;text-align: center;}
.footerUseFulLinks {margin-top: 15px;}
.footerUseFulLinks{margin-bottom:10px;}
.footerUseFulLinks li {margin-right: 10px;}
.footerSocialLinksArea{margin-top:25px;}
.footer_bottominner {padding: 0px 0 20px;border-top: 0;}
.scrollTopbtn {width: 50px;height: 50px;line-height: 45px;}
.service-top-inner h3 {padding: 0 140px;}
.service-top {padding-top: 40px;}
.service-left {webkit-box-flex: 1; -ms-flex: 1; flex: 1;padding-right: 10px;}
.service-left h4 {font-size: 14px;line-height: 20px;}
.service-list-box-cont .service-right{}
.service-list-box-cont .service-right .linkArrow img{height:22px;}
.service-details-banner{background-image: none !important;}
.service-details-banner::before{display:none;}
.service-details-banner .homePageBannerSecinner {text-align: center;}
.service-mobile-img {display: block;padding-top: 50px;}
.service-mobile-imginner {display: inline-block;box-shadow: 0 0px 80px 0 rgb(126,176, 18, 0.2); }
.service-mobile-img img{box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.2); border-radius: 12px;}
.why-choose-inner-header-sec .block-title br{display: block;}
.why-choose-list{padding-top: 15px;}
.why-choose-icon{width: 66px;height: 66px;}
.why-choose-icon img {width: 44px;}
.resources-input-sec{padding: 0 20px;}
.resources-left {text-align: center;}
.resources-right img {width: 100%;}
.resources-blog-box-inner p {    font-size: 22px;color: #fff;line-height: 34px;margin-bottom: 30px;}
.Pledge-inner-img img {width: 192px;}
.Pledge-inner {width: 100%;padding: 0 15px;}
.line-cap {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.blog-header-inner ul { margin: 0 -14px;}
.law-left h2 {font-size: 20px;margin-bottom: 16px;}
.policy-checkbox {margin-bottom: 15px !important;}
.vectra-join-us-inner {flex-wrap: wrap;}
.vectra-join-us-box {width: 100%;height: 400px;}
.vectra-join-us-box img{ width: 100%; height: 100%; object-fit: cover;}
.vectra-join-us-inner-wrapper{padding: 40px 15px;}
.vectra-join-us-wrapper {flex-wrap: wrap;}
.vectra-join-us-wrapper{align-items: center;flex-wrap: wrap;}
.vectra-join-us-wrapper p {width: 100%;text-align: center;font-size: 18px;line-height: 26px;}
.vectra-join-us-right {width: 100%;text-align: center;margin-top: 30px;}
.vectra-join-us-right a { padding: 8px 12px; width: 134px; height: 36px; font-size: 14px; line-height: 20px;}
.contact-sec {padding: 20px 0;}
.contact-right {padding: 0;}
.contact-right{text-align: center;}
.contact-right h1 {font-size: 25px;}
.law-left {text-align: center;}
.law-right img {height: 300px;}
.law-right {text-align: center;}
.promovideo-inner {width: 100%;text-align: left;}
.vctr-inner .homeAboutCounterField {width: 100%;margin: 0 auto;}
.vctr-inner .custome-btn {margin-top: 30px;}
.mobilebanner { min-height: 735px;background-image: url(../images/bg/mobile_banner.webp);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;}
.solutionListArea {padding-bottom: 23px;}
.footerNewsletterBtnArea{text-align: center;}
.footerNewsletterBtnArea a {width: auto;}
.service-list-inner .rowBox{margin-left: -7px;margin-right: -7px;}
.service-list-inner .columnBox{padding-left: 7px;padding-right: 7px;}
.service-box-outer {margin-bottom: 14px;}
.service-list-box-cont a { padding: 15px 10px 15px 10px; min-height: 70px;}
.solutionListArea .row{margin-left: -5px;margin-right: -5px;}
.solutionListArea .columnBox{padding-left: 5px;padding-right: 5px;margin-bottom: 10px;}
.homeAboutArea{text-align: center;}
.testimonialSec .block-title br{display: block;}
.footer_bottomRightArea .footerRegionBox{margin-right: 0px;}
.resoueces-sec {padding-bottom: 0px;}
.resources-blog-headeing img{height: 24px;}
.resources-blog-headeing p {font-size: 20px;line-height: 28px; margin-left: 5px;}
.resources-blog-inner .custome-btn { padding: 8px; width: 136px;height: 36px; justify-content: center;}
.resources-blog-bottom{padding-top: 15px;}
.resources-blog-bottom .col-lg-4.mb-20{margin-bottom: 10px;}
.resoueces-listing-banner-sec .block-title {font-size: 34px; line-height: 42px; font-weight: 400;;}
.blog-listing-banner-sec .block-title { font-size: 34px; line-height: 42px; font-weight: 400;;}
.blog-details-banner-sec .law-left{text-align:left;}
.blog-details-banner-sec .law-left h2 {font-size: 24px; line-height: 32px; margin-bottom: 16px;}
.blog-details-banner-sec .law-left h2 {font-weight: 500;}
.blog-details-banner-sec .law-left .law-left-list li{font-size: 12px;line-height: 20px;font-weight: 400;padding: 0 8px;}
.blog-details-banner-sec .law-left .law-left-list li:before{top:3px;background: rgba(9, 37, 67, 1);}
.blog-details-banner-sec .law-left h4 {font-size: 14px;line-height: 20px;font-weight: 700; margin-bottom: 15px;}
.blog-details-banner-sec .law-right { margin-top: 20px;}
.blog-details-banner-sec  .law-right img { height: auto;}
.tntroduction-left h3 {font-size: 20px;line-height: 28px; margin-bottom: 15px;}
.contact-table h3 {font-size: 14px;line-height: 20px; font-weight: 700; margin-bottom: 10px;}
.feature-right .feature-icon {width: 48px; height: 48px;}    
.feature-icon img {height: 40px;}
.feature-cont {margin-left: 20px;}
.feature-cont h4 { font-size: 18px; line-height: 26px;}
.feature-icon-box-wrapper-2 .rowBox .columnBox:nth-child(1){-ms-flex-order: 1; order: 1;}
.feature-icon-box-wrapper-2 .rowBox .columnBox:nth-child(2){-ms-flex-order: 3; order: 3;}
.feature-icon-box-wrapper-2 .rowBox .columnBox:nth-child(3){-ms-flex-order: 2; order: 2;}
.feature-icon-box-wrapper-2 .rowBox .columnBox:nth-child(4){-ms-flex-order: 4; order: 4;}
.laptop-column p {font-size: 14px;line-height: 20px;}
.laptop-column span {font-size: 18px;line-height: 26px;}
.tech-executive-banner {padding: 40px 15px;}
.tech-executive-inner { text-align: left;}
.tech-executive-inner h2 {font-size: 24px;line-height: 32px;font-weight: 400; margin-bottom: 22px;}
.tech-executive-inner ul{justify-content: start;}
.tech-executive-inner ul li {font-size: 14px;line-height: 20px;}
.tech-executive-banner .phone ul{padding: 0px;margin: 0px;}
.tech-executive-banner .phone ul li{list-style-type: none;}
.tech-executive-banner .phone ul li span{font-size: 14px;line-height: 20px;font-weight: 400;}
.tech-executive-banner .phone ul li p{font-size: 18px;line-height: 26px;font-weight: 600;}
.value-icon {width: 64px;height: 64px;font-size: 30px;line-height: 40px;}
.value-cont { -webkit-box-flex: 1; -ms-flex: 1; flex: 1;}
.right-border::before { height: 190px; }
.left-border::before {height:190px;top: 30px; }
.world-map{padding: 50px 0;}
.contact-sec .contact-right h1 {font-size: 24px;line-height: 32px; font-weight: 400;}
.contact-sec .contact-right p {font-size: 16px; line-height: 24px; font-weight: 400;}
.contact-right ul{margin-bottom: 45px;}
.contact-right ul li {font-size: 18px;line-height: 28px;margin-bottom: 12px;}
.contact-right ul li a img {height: 18px; margin-right: 5px;}
.position-box { margin-bottom: 15px;}
.position-box a {padding: 10px 15px;min-height: 90px;}
.position-right h3 {font-size: 18px;line-height: 26px;font-weight: 400;}
.position-right ul li {margin-right: 10px; font-size: 14px; line-height: 20px; font-weight: 400;}
.position-right ul li img {height: 24px; margin-right: 10px;}
.position-box a .postion-left .icon img{height:24px;}
.mission-box h4 {font-weight: 400;font-size: 24px;line-height: 32px; margin-bottom: 10px;}
.world-map-left{text-align: center;}
.world-map-left h2{font-size: 24px;line-height: 32px;font-weight: 400; margin-bottom: 20px;}
.world-map-left h2 br{display: none;}
.world-map-left ul{display: flex;justify-content: center; text-align: left; max-width: 312px; margin: 0 auto;}
.world-map-left ul li{display: inline-flex;align-items: center; width: 50%; font-size: 12px; line-height: 20px;margin-bottom: 0px;}
.world-map-left ul li img {height: 16px; margin-right: 10px;}
.leadership-inner .btn-wrap{ display: block;}
.testimonialSlider .owl-nav{display: none;}
.meet-inner-sec .meet-left .nav-pills{display: none;}
.meet-inner-header-sec {text-align: center;}
.meet-inner-header-sec .block-title{}
.meet-inner-header-sec .block-title br{display: block;}
.meet-accordian-item{display:block !important;opacity: 1 !important;margin-bottom: 20px;}
.meet-accordian .meet-accordian-item:last-child{margin-bottom: 0px;}
.meet-accordian-item .meet-accordian-body{display: none;}
.meet-accordian-item.curent .meet-accordian-body{display: block;}
.meet-accordian-header{display:flex;justify-content: space-between;align-items: center; position: relative;}
.meet-accordian-header:after{content: '';background-image:url(../images/icon/down-arrow.svg);background-repeat: no-repeat;background-size: cover; background-position: 50% 50%;width:24px;height:24px;}
.meet-accordian-item.curent .meet-accordian-header:after{background-image:url(../images/icon/up-arrow-2.svg);background-repeat: no-repeat;background-size: cover; background-position: 50% 50%;}
.meet-accordian-header h4{margin-bottom: 0px;}
.meet-right-box h4 {font-size: 18px; line-height: 26px; font-weight: 600;}
.meet-accordian-body{padding: 15px 0 0;}
.meet-right-slider-box-inner p {font-size: 10px;line-height: 15px;font-weight: 400;}
.vectra-inner h1 {font-size: 34px; line-height: 42px;font-weight: 400;}
.vectra-banner { width: 100%; background-image: url(../images/vectra/vectra-bg-2.svg);background-repeat: no-repeat; background-size: cover; padding: 60px 0; }
.mission-box h4 {}
.mission-box p {font-size: 14px; line-height: 20px;}
.value-cont p { font-size: 14px; line-height: 20px;  }
.vectra-blog-img { width: 100%;}
.resources-blog-box-inner p {font-size: 18px;line-height: 26px; margin-bottom: 4px;}
.fact-right .rowBox{margin-left: -5px;margin-right: -5px;}
.fact-right .columnBox{padding-left: 5px;padding-right: 5px;}
.fact-sec .fact-right .btn-wrap {display: block;text-align: center;margin-top: 10px;}
.fact-sec .fact-right .btn-wrap .prev-btn { background-color: transparent; border: 0;    padding: 10px 15px;}
.fact-sec .fact-right .btn-wrap .prev-btn img {}
.fact-sec .fact-right .btn-wrap .next-btn {background-color: transparent;border: 0; padding: 10px 15px;}
.fact-sec .fact-right .btn-wrap .next-btn img {}
.guid-banner-sec .law-left h1 {font-size: 24px;line-height: 32px; margin-bottom: 16px;}
.guid-banner-sec .law-left h2 {font-size: 24px;line-height: 32px; margin-bottom: 16px;}
.search-details-tab .nav-item { padding-right: 5px;}
.search-details-tab .nav-item .nav-link { padding: 0 5px 10px; font-size: 12px; line-height: 20px; font-weight: 700;}
.search-details-tab .nav-item .nav-link.active {font-weight: 700;}
.search-tab-details h4 {font-size: 14px; line-height: 20px;}
.search-tab-details-right { width: 165px; height: 82px; overflow: hidden; border-radius: 12px;}
.search-tab-details-right img {width: 100%; height: 100%; object-fit: cover;}
.pledge-inner-box h2 { font-size: 24px;line-height: 32px; font-weight: 400;}
.pledge-inner-content h4{font-size: 14px;line-height: 20px; font-weight: 700;}
.blog-details-introduction-sec{padding:30px 0 0 ;}
.getInTouchFormArea .title{font-size: 14px;line-height: 20px;font-weight: 700;margin-bottom: 10px;}
.youtube-img img { width: 100%;}
.blogDetailsVideoArea iframe { height: 260px; width: 100%; max-width: 100%;}
.myPopupModalDiolog {max-width: 96%;}
.myPopupModal.show{/*display: block !important;*/}
.myPopupModalContent .btn-close{display: block;}
.from-box {display: block;}
.from-box .getInTouchFormArea {max-width: 100%; padding: 26px 16px;}
.from-box-left{width:100%;display: none;}
.from-box-left-bottom {margin-top: 80px;}
.from-box-left-inner {padding: 25px 20px;}
.from-box-right{width:100%;}
.fact-sec-btns{text-align: center;}
.fact-sec .fact-left p {font-size: 14px; line-height: 20px; font-weight: 400;}
.promovideo-inner p{font-size: 14px; line-height: 20px; font-weight: 400;}
.makeEbookSec{padding: 40px 0;;}
.makeEbookSec .block-title{ font-size: 24px; line-height: 32px;margin-bottom: 15px;}
.guid-banner-sec .law-right{margin-top: 25px;}
.guid-banner-sec .law-left h1 br { display: none;}
.guid-banner-sec .law-left p {font-size: 15px;line-height: 20px;}
.promovideo-btns{text-align: center;}
/*.fact-right .rowBox.guid-facts-slider{display:block;margin-left: 0px;margin-right: 0px;}
.fact-right .columnBox.fact-box{padding-left: 0px;padding-right: 0px;}*/
.registerPageSec h1 {font-size: 24px; line-height: 32px; font-weight: 400;margin-bottom: 10px;}
.registerPageSec p {font-size: 14px;line-height: 20px;font-weight: 400;}
.errorPageBannerSec{padding: 40px 0;}
.errorPageBannerSec h1 {font-size: 24px;line-height: 32px;font-weight: 400; margin-bottom: 10px;}
.errorPageBannerSec h1 span {font-size: 24px; line-height: 32px;font-weight: 400;}
.errorPageBannerSec p {font-size: 14px;line-height: 20px; font-weight: 400;}
.vectra-cont p {font-size: 14px; line-height: 20px;}
.serviceListingSec .service-top-inner .block-title {font-size: 24px; line-height: 32px; font-weight: 400;}
.serviceListingSec .service-top-inner p {font-size: 14px;line-height: 20px;}
.resource-select-menu{border-radius: 30px;}
.fixedBookConsultantBtnArea{opacity: 1;visibility: visible;}
.introduction-right .getInTouchFormArea { max-width: 90%;}
.blog-header { padding: 10px 0;}
.newLaptopIntroductionArea{padding: 30px 0 40px;}
.tech-executive-inner ul li img { height: 24px; margin-right: 10px;}
.tech-executive-inner ul li:nth-child(2) img {height: 20px;}
.career-banner-sec {padding: 40px 0 32px;}
.career-banner-sec .resources-left .block-title {font-size: 34px;line-height: 42px;}
.career-banner-sec .resources-left .block-title br{display: block;}
.leader-ship-inner h4 {font-size: 18px; line-height: 26px;}
.leader-ship-inner span {font-size: 14px; line-height: 20px; display: block; margin-bottom: 10px;}
.leader-ship-inner p {font-size: 12px; line-height: 20px;}
.inside-sec .first_blk{margin-bottom: 30px;}
.fact-sec-2{padding: 0px;}
.testimonialHeader{padding: 0 40px;}
.positive-impact-sec{padding: 40px 0;}
.search-input .icon { top: 15px; font-size: 16px;}
.search-input .close-btn { top: 15px;}
.search-input input {font-size: 14px;}

}
@media (max-width: 479px) {}
@media (max-width: 420px) {
.service-top-inner h3 {padding: 0 0px;}
.meet-bottom {padding: 30px 0;}
.why-choose-inner .meet-bottom {padding: 0;}
.resources-input-sec {padding: 0 20px 30px 20px}
.resources-input-sec .footerSocialLinksArea {display: none;}
.resources-input-sec .footerSocialLinksArea .copyWriteArea {display: none;}
.resources-input-sec .footer_bottomRightArea {margin-top: 0;}
.resources-blog-box-inner p {font-size: 15px;line-height: 23px; margin-bottom: 4px;}
.resources-blog-inner .custome-btn{padding: 8px;}
.value-cont{width: 80%;}
/*.left-border::before {height: 87px;top: 17px;}*/
.service-left h4 br{display:none;}
.blogDetailsVideoArea iframe { height: 200px; width: 100%; max-width: 100%;}
}
@media (max-width: 380px) {}